<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
    <div class='center'>
      <div class="error_messages">
        <h2>Form is invalid</h2>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </div>
      </div>
    <% end %>
  <br>
  