
<h2>Toy List</h2>
  <ul>
    <table class="table">
        
     <tr>
         <td>Name</td>
         <td>Quantity</td>
         <% if current_user.uid? %>
         <td>Rating</td>
         <%end%>
         <td>Edit</td>
        
        <% @toys.each do |toy| %>
         <tr>
             <td><li><%= toy.name %></li></td>             
             <td><%= toy.quantity %></td>
             <% if current_user.uid? %>
             <td><%= toy.rating %></td>
             <%end%>
             <td><%= link_to "Edit Toy", category_toy_path(toy.category, toy) %></td> 
        </tr>
        <%end%>
    </table>
  </ul>

