<div class='center'>
    <div class='border'>
        <h1><%= @category.name %></h1>
    </div>
</div>

<%= render 'index_show' %>

 </br>
<%= button_to "Create New Toy", new_category_toy_path, method: 'get' %>
 </br>
<%= link_to 'Back', categories_path, class: "btn btn-primary btn-light" %>
    
