<h1>New Toy form</h1>

<% if @toy.errors.any? %>
      <h2>
        <%= pluralize(@toy.errors.count, "error") %> prohibited this user from being saved:
      </h2>

      <ul>
      <% @toy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  <% end %>
  
<%= render 'form' %>
<br>
<%= link_to "Back to Toy Page", category_path(@category) %>
