<h2>Popular Toy List</h2>
<ul>
  <table class="table">
      
   <tr>
       <td>Name</td>
       <td>Quantity</td>
       <td>Rating</td>
       <td>Edit</td>
      
      <% @category.toys.popular.each do |toy| %>
       <tr>
           <td><li><%= toy.name %></li></td>             
           <td><%= toy.quantity %></td>
           <td><%= toy.rating %></td>
      </tr>
      <%end%>
  </table>
  <%= link_to "Back to Toy Page", category_path(@category) %>
</ul>




