<h1>Toy Details</h1>

<h2>Name: <%= @toy.name %></h2>
<h2>Quantity: <%= @toy.quantity %></h2>
<h2>Rating: <%= @toy.rating %></h2>
  <br>
<%= link_to "Back to Toy Page", category_path(@category) %>





