/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";

 div.corners {
    border-radius: 500px;
    background: 73AD21;
    max-width: 100%;
    height: 25px; 
}

.link-to-color {
    color:rgb(230, 100, 100);
}

body {
    padding-bottom: 30px;
  }
  
  .nav-color{
      background-color: rgb(173, 223, 230);
  }

  .center {
      text-align: right;
  }

  .navbar-text{
    // padding-left: 1100px;
    position: absolute;
    left: 41%;
  }


