.field_with_errors input{
  border: 1px solid red !important;
}

.top-padding {
    padding-top: 200px;
}

div.bottom-padding {
    padding-bottom: 50px;
}

.error {
    color: red;
}

.form-horizontal {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-inline {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  .form-inline label {
    margin: 5px 10px 5px 0;
  }
  
  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  .form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
  }
  
  .form-inline button:hover {
    background-color: royalblue;
  }

  .checkbox {
    top-padding: 10px;
  }

  .form-group.has-error .help-block {
    display: block;
}

  .form-group .help-block {
    display: none;
}