<h2>Toy Categories</h2>

<% @categories.each do |category| %>
  <ul>
    <div class="form-vertical">
      <li><%= link_to category.name, category_path(category) %></li>
    </div>
    <br></br>
  </ul>
<%end%>
